/* Dashboard.css */
.dashboard-container {
  display: flex;
  height: 100vh;
}

.left-pane {
  width: 70px;
  background-color: #0046AD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-pane .menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-pane .navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-pane .logo {
  color: white;
  font-size: 18px;
  margin: 20px;
  width: 30px;
  height: 30px;
}

.left-pane .icon {
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  /* margin: 0px 20px; */
  color: white;
  cursor: pointer;
}

.left-pane .icon.selected {
  background-color: #fff;
  color: #0046AD;
}

/* .left-pane .icon.selected */

.conversations-pane {
  flex: 1;
  background-color: white;
  border-right: 1px solid #ddd;
}

.conversations-pane h2{
  margin: 0;
}

.conversations-pane .heading {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.conversations-pane .heading .refresh{
    box-sizing: border-box;
    display: inline-block;
}

.conversation-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.conversation-item svg{
    border-radius: 50%;
}

.conversation-item:hover {
  background-color: #e0e0e0;
}

.conversation-item.selected {
  background-color: #f0f0f0; /* Grey background for selected conversation */
}

.chat-pane {
  position: relative;
  flex: 2;
  background-color: white; /* Add vertical scrolling */ /* Adjust height to fit within the viewport */
}

.chat-pane .skeleton-text{
    padding-top: calc(50vh - 50%);
    text-align: center;
    font-size: 20px;
}

.chat-pane h2 {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 81vh;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  align-self: flex-end;
  margin-right: 45px;
  background-color: #e0f7fa;
}

.message.other {
  align-self: flex-start;
  margin-left: 45px;
  background-color: #d9d9d9;
}

.message-info {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profile-pic-svg{
    position: relative;
}

.profile-pic-svg svg{
    position: absolute;
    border-radius: 50%;
}

.profile-pic-svg.other svg{
    left: -45px;
}

.profile-pic-svg.user svg{
    right: -45px;
}

.message-info.user {
  align-self: flex-end;
  margin-right: 45px;
}

.message-info.other {
  align-self: flex-start;
  margin-left: 45px;
}

.info-pane {
  width: 350px;
  background-color: rgb(240, 240, 240);
  border-left: 1px solid #ddd;
  
}

.info-pane .data{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.info-pane .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.info-pane .status-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.info-pane .status-bar .dot{
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #9b9b9b;
}

.info-pane .data .buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.info-pane .buttons div{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.info-pane .buttons div p{
    margin: 0;
}

.info-pane .cards{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-pane .cards .card{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.info-pane .cards .card h3{
    margin: 0;
    padding-bottom: 10px;
}

.info-pane .cards .card .row{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-pane .cards .card .row .val{
    font-weight: bold;
}

.info-pane .cards .card .button{
    color: #0046AD;
    padding-top: 10px;
    cursor: pointer;
}

/* Adjusting the send-message section to ensure proper positioning */
.send-message {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: absolute; /* Changed from absolute to fixed */
  bottom: 0; /* Ensures it stays at the bottom of the viewport */
  width: 100%; /* Full width */
  padding: 10px; /* Add padding */
  background-color: #f9f9f9; /* Background color */
  border-top: 1px solid #ddd; /* Optional border */
}

/* Adding styles for send-message input and button */
.send-message input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-message button {
  width: 20%;
  padding: 10px;
  background-color: #0046AD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

